@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@500&display=swap');


#root,
body{
  padding: 0;
  margin: 0;
  width: 100%;
  min-height:100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}